
@import url("../../../../use.typekit.net/pqv0ufr.css");

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400,500,600&display=swap'); */


/* Colors */
:root {
    --black-color: #000;
    --red-color: #b22727;
    --red-dark-color: #891B1B;
}